h1 Kauntaa
p Count anything

p
  = "You have kauntaa'd "+ (@counter.value ? "#{@counter.value}" : "0") + " times so far"

p = link_to 'Edit Counter', edit_user_counter_path(current_user)

= link_to 'About', pages_about_path

= link_to 'Sign out', destroy_user_session_path, method: :delete

