h1 Kauntaa
p Count anything

p You have kauntaa'd
.counter =@counter.clean_value
p times so far

p = link_to 'Edit Counter', edit_user_counter_path(current_user)

= link_to 'Count', increment_user_counter_path(current_user), remote: true

= link_to 'About', pages_about_path

= link_to 'Sign out', destroy_user_session_path, method: :delete

