#chart
/ - row_and_col_for(@counters.count).each do |row, col|
/   - row.times do |r|
/     .row style="height:#{100 / row}%"
/       - col.times do |c|
/         .columns.small-12 class="medium-#{12 / col}" style="height:100%"
/           - if c == 0 && r == 0
/             = render 'new_counter'
/           - else
/             = render 'counter', counter: @counters[((col * r) + c) - 1]