/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require fonts
 *= require foundation_and_overrides
 *= require odometer/themes/odometer-theme-minimal
 *= require pages
 *= require counter
 *= require navigator
 */

.new-counter,
.new-counter a{
    margin:0;
    padding:0;
}

.new-counter{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:gray;
  color:white;
  .add {
    width:100%;
    height:50%;
    text-align:center;
    float:left;
    .add-button{
      float:left;
      height:100%;
      width:100%;
      .add-icon {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        height:50%;
        }
      }
    }
  .user-menu{
    width:100%;
    height:50%;
    text-align:center;
    float:left;
    .text{
      height:50%;
      a{
        position: relative;
        display:block;
        &.add-counter-link{
          top:100%;
          transform: translateY(-100%);
        }
        &.sign-out{
          top:0%;
          transform: translateY(0%);
        }
      }
    }
  }
}
