.counter-item {
  padding-top: 20px;
  padding-bottom: 20px;
}

.counter-container {
  background-color:#1E3340;
}

.counter-row {
  padding-top: 40px;
  padding-bottom: 20px;
}

.info-row {
  padding-bottom: 40px;
}

.info-link{
  background-color:#731D24;
  border-radius:2em;
  width:2em;
  height:2em;
}