@import "foundation_and_overrides";

.counter-item {
//  margin-top: 20px;
  &.header {
    margin:20px 0 20px 0;
  }
  min-height: 180px;
  .counter-button-container{
    height: 90px;
    position:relative;
  }
  .increment-button {
    background-color:$green;
    width:100%;
    height:100%;
    position:absolute;
    z-index:1;
    top:0;
    left:0;
  }
  .edit-counter{
    position:absolute;
    top:20px;
    left:48%;
    z-index:5;
    .info-link{
      background-color:$white;
      border-radius:2em;
      width:20px;
      height:20px;
    }
  }
  .counter-data{
    padding:10px 5px;
    background:$white;
    min-height: 70px;
  }
  .decrement-button {
    background-color:$red;
    height: 20px;
  }
}