@import 'foundation_and_overrides';

.header-row {
  @media #{$medium-up} {
    margin-bottom:20px;
  }
  .header-item {
    min-height: 220px;
    background-color:$white;
    .sub-title {
      text-color: $red;
    }
  }
}