@import 'foundation_and_overrides';

.header-row {
  @media #{$medium-up} {
    margin-bottom:20px;
  }
  .header-item {
    border-radius:0 0 0 20px;
    min-height: 220px;
    background-color:$white;
    .title{
      line-height: 96px;
      margin-top: 33px;
      margin-bottom:0px;
    }
    .sub-title {
      text-color: $red;
    }
  }
}