@import 'foundation_and_overrides';

.header-row {
  @media #{$medium-up} {
    margin-bottom:20px;
  }
  .header-item {
    border-radius:0 0 0 20px;
    min-height: 220px;
    background-color:$white;
    .title{
      line-height: 96px;
      margin-top: 33px;
      margin-bottom:0px;
    }
    .sub-title {
      text-color: $red;
    }
  }
}

.navigation{
  background:white;
  height:35px;
  padding:5px 0;
  ul{
    list-style-type:none;
    &.right{
      margin-right:1.1rem;
      margin-bottom:0;
    }
    &.left{
      margin-bottom:0;
    }
  }
}