p.text-center style='line-height:59px;font-size:59px;'
  = image_tag 'add.svg'
  div.text-center style='line-height:59px;font-size:59px;'
    = link_to 'Add counter', new_user_counter_path(current_user)